__pycache__/

.ipynb_checkpoints/

data/.ipynb_checkpoints/

data/enwik.zip

data/enwiki8/

models/roberta.base/

models/t5-base/

models/roberta.base.tar.gz

dist/
build/
.eggs/
jax_transformers.egg-info/
tests/__pycache__/